{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
    style="background-image: url('../static/assets/img/ABOUT-bg.png')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
            I’m someone who dreams of becoming a developer and loves games and technology.
            Hey! I’m Bruno Henrique, a tech enthusiast and gamer at heart.
            I’ve always been fascinated by technology, from tinkering with systems and databases to exploring the endless possibilities of web development.
        </p>
        <p>
            Gaming has been a huge part of my life, and I love diving into worlds full of action, strategy, and stories that stick with you, think intense shooters, epic adventures, and everything in between.
            This blog is my playground to share thoughts, reviews, and inspirations from the games I love, and a space to showcase my personal projects in tech and web development.
        </p>
        <p>
            I’m constantly learning and experimenting, whether it’s building a site from scratch, tweaking a WordPress page, or testing new game strategies.
            My goal here is simple: combine my passion for games with my love for technology, all while creating a space that’s fun, insightful, and a little geeky.
        </p>

        <p>
            Welcome to my corner of the gaming universe, let’s explore it together!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
